---
import BaseLayout from "../layouts/BaseLayout.astro";



const pageTitle = "About Me";

const identity = {
	firstName: "Michele",
  lastName: "Vannucci",
  city: "Amsterdam",
  occupation: "Student",
  hobbies: ["Making music", "Reading", "Going to the cinema"],
};
const programmingLanguages = [
  "JavaScript",
  "Python",
  "C++",
  "Java",
  "Rust",
];

const programmingColor = "blue";
const happy = true;
---


<BaseLayout pageTitle={pageTitle}>

	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.city} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 && (
			<li>
				Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
			</li>
			)}
	</ul>
	<p>I know the following programming languages:</p>
	<ul>
		{programmingLanguages.map((language) => (
			<li class="programming-languages">{language}</li>
		))}
	</ul>
	{happy && <p>Today I feel happy!</p>}
	<style define:vars={{
		programmingColor,
	  }}>
	  .programming-languages {
		color: var(--programmingColor);
		font-weight: bold;
	  }
    </style>
</BaseLayout>

</html>
