---
import BaseLayout from './BaseLayout.astro';
import Tags from '../components/Tags.astro';
import DateText from '../components/DateText.astro';
import PrevNext from '../components/navigation/PrevNext.astro';
const { frontmatter, prev = null, next = null } = Astro.props as any;


---


<BaseLayout pageTitle={frontmatter.title}>
  <p><DateText value={frontmatter.pubDate} /></p>

  <Tags tags={frontmatter.tags} size="sm" />

  <slot />
  <PrevNext prev={prev} next={next} base="/blog" parentPage={{ title: "Blog" , url: "/blog" }} />
</BaseLayout>